*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(./image/mm-things-you-should-know-about-becoming-an-interior-designer-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    margin: 30px auto;
}
header{
    display: flex;
}
.logo{
    width: 20%;
}
.logo> img{
    height: 46px;
}
.cnt-up{
    color: #fff;
}
nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.menu{
    width: 80%;
    position: relative;
    top: 15px;
}
.contact{
    width: 20%;
}
.nav-item{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    margin-left: 43px;
    text-align: center;
    font-weight: 400;
}
.number{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    text-align: left;
}
.cnt{
    display: flex;
}
.fa-solid{
    font-size: 21px;
    top: 10px;
    position: relative;
}
.cnt-up{
    text-align: left;
    padding-left: 15px;
}
.hr-line{
    width: 74%;
    position: relative;
    background-color: #fff;
    height: 2px;
    left: 23%;
    margin-top: 15px;
}
.body{
    color: #fff;
    position: relative;
    margin-top: 140px;
}
.upper-part{
    display: flex;

}
.upper-part > h1 {
    width: 60%;
    font-size: 77px;

}
.extension{
    height: 135px;
    width: 246px;
    padding: 15px;
    background-color: #fff3;
    position: relative;
    left: 14%;
    bottom: 88px;
}
.icon{
    width: 75px;
    height: 38px;
    color: black;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}
.fa-puzzle-piece{
    padding: 0;
}
.line {
    height: 97px;
    width: 1px;
    background-color: #fff;
    position: relative;
    top: 26px;
    left: 170px;
}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    left: 77%;
    top: 20px;
}
.lower-part{
    margin-top: 120px;
}
.l-more{
    font-size: 20px;
    padding: 11px;
    border: #fff 2px solid;
    border-radius: 30px;
    height: 53px;
    width: 13%;
    text-align: center;

    
}
.bulb{
    height: 135px;
    height: 135px;
    width: 246px;
    padding: 15px;
    background-color: #ffffff57;
    position: relative;
    left: 42%;
    bottom: 88px;
}
.fa-lightbulb{
    background-color: #fff;
    padding: 15px;
    width: 30%;
    height: 34px;
    color: black;
    border-radius: 50px;
    padding: 13px;
    text-align: center;
}
#line{
    height: 100px;
    width: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -89px;
    left: 53.5%;
    display: block;
}
#circle{
    position: relative;
    top: -92px;
    left: 53.3%;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #fff;}